javascript:
  "use strict";!function(t,e,o){(e=t.createElement("script")).type="text/javascript",e.async=!0,e.src=("https:"===t.location.protocol?"https://":"http://")+"trk.frank.ai/storage/pxl-1600-rVsmYdZ.js",(o=t.getElementsByTagName("script")[0]).parentNode.insertBefore(e,o)}(document);
